body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; 
    padding: 0;
    background-color: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    background-color: grey;
    color: white;
    padding: 5px;
    margin: 5px;
}

header h1{
    margin: 0;
    font-size: 2em;
}

nav{
    padding: 10px;
    float: left;
    width: 20%;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    margin-bottom: 5px;
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: grey;
    padding: 15px;
}

nav ul li a:hover{
    background-color: rgb(255, 255, 255);
    color: red;
    border: 2px solid black;
}

section{
    float: left;
    width: 80%;
    padding: 20px 40px;
    border-left: 2px solid black;
}

section h2{
    font-weight: bold;
    margin-bottom: 20px;
}

section p{
    margin-bottom: 15px;
    text-align: justify;
    
}

footer{
    clear: both;
    background-color: grey;
    color: white;
    text-align: left;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

